body {
  padding-top: 80px;
  background-color: rgba(0, 0, 0, 0.7);
}

@media (max-width: 1000px) {
  .white-single-grid,
  .black-single-grid {
    width: 70px;
    height: 70px;
  }
  
  .black-die-piece-container,
  .white-die-piece-container {
    width: 200px;
  }
  
  .dead-piece {
    width: 25px;
    margin-left: -13px;
  }

  .black-surrender-container, 
  .white-surrender-container {
    margin-left: 25px;
    margin-right: 25px;
  }


  .notation-block {
    min-height: 616px;
    right: -210px;
  }

  .notation-container {
    grid-template-columns: 25px 65px 65px;
  }

  .move-message {
    font-size: 13px;
  }

  .transform-container {
    width: 110px;
  }
}


@media (max-width: 850px) {
  .white-single-grid,
  .black-single-grid {
    width: 60px;
    height: 60px;
  }
  
  .black-die-piece-container,
  .white-die-piece-container {
    width: 150px;
  }
  
  .dead-piece {
    width: 22px;
    margin-left: -10px;
  }

  .black-surrender-container, 
  .white-surrender-container {
    margin-left: 18px;
    margin-right: 18px;
  }

  .ask-surrender {
    font-size: 14px;
    font-weight: bold;
  }

  .timer {
    font-size: 25px;
  }

  .reveal-notation {
    width: 20px;
    right: -12px;
  }

  .reveal-notation:hover {
    right: -15px;
  }


  .reveal-text {
    font-size: 10px;
  }


  .notation-block {
    min-height: 536px;
    right: -190px;
  }

  .notation-container {
    grid-template-columns: 25px 60px 60px;
  }

  .move-message {
    font-size: 10px;
  }

  .transform-container {
    width: 100px;
  }
}


@media (max-width: 750px) {
  .time-select {
    font-size: 12px;
    padding: 5px 10px;
  }

  .confirm-time-button {
    font-size: 12px;
  }


  .white-single-grid,
  .black-single-grid {
    width: 50px;
    height: 50px;
  }
  
  .black-die-piece-container,
  .white-die-piece-container {
    width: 130px;
  }
  
  .dead-piece {
    width: 18px;
    margin-left: -8px;
  }

  .balance {
    font-size: 10px;
  }

  .black-surrender-container, 
  .white-surrender-container {
    margin-left: 10px;
    margin-right: 10px;
  }



  .ask-surrender {
    font-size: 14px;
    font-weight: bold;
  }


  .black-timer-container,
  .white-timer-container {
    width: 55px;
  }


  .timer {
    font-size: 20px;
  }

  .notation-block {
    min-height: 456px;
    right: -190px;
  }

  .transform-container {
    width: 90px;
  }

}


@media (max-width: 670px) {
  .time-choices-container{
    padding: 20px;
  }
  
  .board {
    margin-left: 0px;
  }


  .notation-container {
    grid-template-columns: 25px 60px 60px 25px 60px 60px 25px 60px 60px;
  }

  .move-message {
    font-size: 8px;
  }

  .notation-block {
    min-height: 500px;
    bottom: -580px;
    left: 0px;
    right: 0px;
  }

  .clock-container {
    top: -55px;
    right: -50px;
  }

  .clock {
    width: 40px;
  }
}

@media (max-width: 550px) {
  .board {
    margin-left: 0px;
  }

  .row-coordinate {
    font-size: 12px;
    bottom: -20px;
  }

  .column-coordinate {
    font-size: 12px;
  }

  .white-single-grid,
  .black-single-grid {
    width: 40px;
    height: 40px;
  }
  
  .black-die-piece-container,
  .white-die-piece-container {
    width: 130px;
    padding: 5px 10px;
  }
  
  .dead-piece {
    width: 18px;
    margin-left: -8px;
  }


  .balance {
    font-size: 5px;
  }


  .ask-surrender {
    font-size: 10px;
  }


  .surrender-yes,
  .surrender-no {
    font-size: 8px;
    
  }

  .timer {
    font-size: 15px;
  }

  .black-surrender-container, 
  .white-surrender-container {
    margin-left: 5px;
    margin-right: 5px;
  }


  .white-flag {
    width: 30px;
  }

  .black-ask-surrender-container,
  .white-ask-surrender-container {
    padding: 5px;
  }

  .ask-surrender {
    font-size: 10px;
  }

  .black-timer-container,
  .white-timer-container {
    width: 50px;
  }

  .notation-container {
    grid-template-columns: 25px 60px 60px 25px 60px 60px;
  }

  .move-message {
    font-size: 8px;
  }

  .notation-block {
    min-height: 700px;
    bottom: -770px;
    left: 0px;
    right: 60px;
  }

  .transform-container {
    width: 80px;
  }

  .clock-container {
    top: 450px;
    right: 10px;
  }

  .reveal-notation {
    top: 38%;
    bottom: 38%;
  }
}

@media (max-width: 425px) {
  .time-choices-container {
    padding: 15px;
  }

  .time-select {
    padding: 5px;
  }

  .white-single-grid,
  .black-single-grid {
    width: 30px;
    height: 30px;
  }
  
  .black-die-piece-container,
  .white-die-piece-container {
    width: 80px;
    padding: 5px 10px;
  }
  
  .dead-piece {
    width: 12px;
    margin-left: -6px;
  }


  .balance {
    font-size: 5px;
  }


  .ask-surrender {
    font-size: 10px;
  }


  .surrender-yes,
  .surrender-no {
    font-size: 8px;
    
  }

  .timer {
    font-size: 13px;
  }

  .black-surrender-container, 
  .white-surrender-container {
    margin-left: 3px;
    margin-right: 3px;
  }


  .white-flag {
    padding-top: 13px;
    width: 20px;
  }


  .black-timer-container,
  .white-timer-container {
    width: 40px;
  }

  .notation-container {
    grid-template-columns: 25px 60px 60px;
  }

  .move-message {
    font-size: 8px;
  }

  .notation-block {
    min-height: 1400px;
    bottom: -1470px;
    left: 50px;
    right: 70px;
  }



  .transform-container {
    width: 80px;
  }

  .clock-container {
    top: 370px;
    right: 10px;
  }

  .reveal-notation {
    top: 34%;
    bottom: 34%;
  }
}




